{% load bootstrap3 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="何野夫,python,django">
    <meta name="description" content="first django">
    <title>何野夫</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    </head>
    <body>

        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                    <a class="navbar-brand" href="{% url 'learning_logs:index' %}">{% trans 'Learning Log' %}</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'learning_logs:topics' %}">{% trans 'Topics' %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a>{% trans 'Hello' %}, {{ user.username }}.</a></li>
                            <li><a href="{% url 'users:logout' %}">{% trans 'Logout' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'users:register' %}">{% trans 'Register' %}</a></li>
                            <li><a href="{% url 'users:login' %}">{% trans 'Login' %}</a></li>
                        {% endif %}
                            <!-- <li><a>{% trans 'Setting' %}<a></li> -->
                                <!--
                                <form class="form" action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                    <select name="language">
                                        {% for language in LANGUAGES %}
                                            <option value="{{ language.0 }}"{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                                {{ language.1 }} ({{ language.0 }})
                                        {% endfor %}
                                    </select>
                                    <input type="submit" value="Go"/>
                                </form>
                            -->
                   </ul>
                </div>
                <!--  /.nav-collapse -->

            </div>
        </nav>

        <div class="container">
            <div class="page-header">
                {% block header %}{% endblock header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>
            <!-- /container -->
    </body>
</html>