{% extends 'learning_logs/base.html' %}
{% load i18n %}

{% block header %}
    <h1>{% trans 'Topics' %}</h1>
{% endblock header %}

{% block content %}

    <ul>
        {% for topic in topics %}
        <li>
            <h3>
            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3>        
        </li>
        {% empty %}
            <li> {% trans 'No topics have been added yet.' %}</li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'learning_logs:new_topic' %}">{% trans 'Add a new topic' %}:</a></h3>
    
{% endblock content %}